<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 导入 bootstrap 的样式表 -->
    <!-- https://v4.bootcss.com/docs/components/forms/#switches -->
    <!-- <link rel="stylesheet" href="./lib/bootstrap.css" /> -->
    <link rel="stylesheet" href="js/bootstrap.css">
    <style>
         :root {
            font-size: 13px;
        }
        
        body {
            padding: 8px;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- 卡片区域 -->
        <div class="card">
            <h5 class="card-header">添加品牌</h5>
            <div class="card-body">
                <!-- 添加品牌的表单 -->
                <form class="form-inline" @submit.prevent>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">品牌名称</div>
                        </div>
                        <!-- 文本输入框 -->
                        <input type="text" class="form-control" v-model="brandname" @keyup.esc="brandname=''" />
                    </div>

                    <!-- 提交表单的按钮 -->
                    <button type="submit" class="btn btn-primary mb-2" @click=addBrandData>添加品牌</button>
                </form>
            </div>
        </div>

        <!-- 品牌列表 -->
        <table class="table table-bordered table-striped mt-2">
            <thead>
                <tr>
                    <th>#</th>
                    <th>品牌名称</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <!-- 表格的主体区域 -->
            <tbody>
                <!-- TODO：循环渲染表格的每一行数据 -->
                <tr v-for="(item,index) in brandlist" :key="item.id">
                    <td>{{index +1}}</td>
                    <td>{{item.brandname}}</td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" :id="item.id" v-model="item.state">
                            <label class="custom-control-label" :for="item.id" v-if="item.state">开启</label>
                            <label class="custom-control-label" :for="item.id" v-else>关闭</label>
                        </div>
                    </td>
                    <td>{{item.time | dataFormat}}</td>
                    <td>
                        <a href="javascript:;" @click="removeBrand(item.id)">删除</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <!-- <script src="./lib/vue-2.6.12.js"></script> -->
    <script src="js/vue.js"></script>
    <script>
        // 创建全局的过滤器
        Vue.filter('dataFormat', (dtStr) => {
            const y = dtStr.getFullYear()
            const m = padZero(dtStr.getMonth())
            const d = padZero(dtStr.getDate())
            const hh = padZero(dtStr.getHours())
            const mm = padZero(dtStr.getMinutes())
            const ss = padZero(dtStr.getSeconds())

            // return `$(Y)`

            // return '创建于：' + y + '-' + m + '-' + d + '-' + hh + '-' + mm + '-' + ss
            return `创建于：${y}-${m}-${d} ${hh}:${mm}:${ss}`
        })

        // 补零的函数
        function padZero(n) {
            return n < 10 ? '0' + n : n;
        }

        // 创建 vue 的实例对象
        const vm = new Vue({
            el: '#app',
            data: {
                brandname: '',
                nextId: 4,
                brandlist: [{
                    id: 1,
                    brandname: '宝马',
                    state: true,
                    time: new Date()

                }, {
                    id: 2,
                    brandname: '奥迪',
                    state: false,
                    time: new Date()


                }, {
                    id: 3,
                    brandname: '奔驰',
                    state: true,
                    time: new Date()


                }, ],
            },
            methods: {
                // 添加新的品牌数据
                addBrandData() {
                    // console.log(this.brandname);
                    if (!this.brandname) return alert('请输入东西。')
                    this.brandlist.push({
                        id: this.nextId,
                        brandname: this.brandname,
                        state: true,
                        time: new Date()
                    })
                    this.nextId++
                },

                // 根据 Id 删除对应的数据
                removeBrand(id) {
                    console.log(id);
                    this.brandlist = this.brandlist.filter(x => x.id !== id)
                }

            },
        })
    </script>
</body>

</html>